[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	put = push origin head
	fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
	squash = !sh -c 'REV=$(git rev-parse $1) && git commit --squash $@ && git rebase -i --autosquash $REV^' -
	tree = log --graph --oneline --decorate --color --all
	tr = log --graph --oneline --decorate --color
	ri = rebase --interactive
[core]
	quotepath = false
	editor = vim
	whitespace = warn
	excludesfile = ~/.gitignore
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[help]
	autocorrect = 10
[interactive]
	singlekey = true
[include]
	path = ~/.gitconfig.local
[gc]
	auto = 0
[push]
	default = simple
